﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>


    <header>
        <h1>Library</h1>
        <img class="headimg" src="~/Images/library.png">
    </header>


    <div class="mainbody" id="top">
        <div id="container">
            <div id="content">
                <div id="innercontent">
                    @RenderBody()
                </div>
            </div>
            <div id="navbar">
                <div id="innernavbar">
                    <h2>Menu</h2>
                    <ul class="my_menu">
                        <li>@Html.ActionLink("Main page", "Index", "Home")</li>
                        <li>@Html.ActionLink("Guest page", "Guest", "Guest")</li>
                        <li>@Html.ActionLink("Questionnaire ", "Questionnaire", "Questionnaire")</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <hr />
    </div>

    <footer>
        @RenderSection("Footer")
        <p>© 2021 - Volodymyr Dolid vovad4555@gmail.com   <a class="foota" href="#top">To top</a> </p>
    </footer>
</body>
</html>