﻿
@{
    ViewBag.Title = "Questionnaire";
}

@helper CreateListRadio(List<string> years, string name)
{
    <ul>
        @foreach (string item in years)
        {
            <li><input type="radio" name="@name" value="@item">@item</li>
        }
    </ul>
}

@helper CreateListCheck(List<string> mass, string name)
{
    <ul>
        @foreach (string item in mass)
        {
            <li><input type="checkbox" name="@name" value="@item">@item</li>
        }
    </ul>
}


<h2>@ViewBag.Title</h2>


<form name="form" method="post">

    <p><b>1.Gender:</b></p>
    <p>
        <input name="gender" type="radio" value="Male">Male<br>
        <input name="gender" type="radio" value="Female">Female<br>
    </p>

    <p><b>2.Age:</b></p>
    @CreateListRadio(ViewBag.Ages, "years")



    <p><b>3.Your name and surname</b></p>
    Name: <input type="text" name="name"> <br />
    Surname <input type="text" name="surname"> <br />

    <p><b>4.How did you find out about our service :</b></p>
    @CreateListCheck(ViewBag.Services, "service")


    <p><b>5. What other services would be interesting to you?:</b></p>
    @CreateListCheck(ViewBag.Advert, "ser")



    <input type="submit" value="Submit" />
</form>


@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

}
