﻿

.articlestitle {
    color: black;
    font-style: italic;
}

.topic {
    color: white;
}

.article {
    width: 100%;
    background-color: #009688;
    border-radius: 40px;
    padding-bottom: 5px;
    padding-left: 5px;
}


